html {
  margin: 0;
  padding: 0;
}

h1 {
  width: 100%;
  text-align: center;
}

.flex-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

#wrapper-modal {
  width: 100px;
  display: none;
}

#wrapper-modal.active {
  display: block;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: gray;
  opacity: 0.5;
}

#modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 300px;
  z-index: 2;
  border: 2px solid black;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px 8px rgba(227, 134, 224, 0.6);
  -moz-box-shadow: 5px 5px 5px 8px rgba(227, 134, 224, 0.6);
  box-shadow: 5px 5px 5px 8px rgba(227, 134, 224, 0.6);
}
.wrapper__content {
  transition: transform .2s;
}
.wrapper__content :hover {
  transform: scale(1.2);
  -webkit-box-shadow: 5px 5px 5px 8px rgba(227, 134, 224, 0.6);
  -moz-box-shadow: 5px 5px 5px 8px rgba(227, 134, 224, 0.6);
  box-shadow: 5px 5px 5px 8px rgba(227, 134, 224, 0.6);
  transition: ease 1s;
}
.wrapper__btn {
  text-align: -webkit-right;
  background-color: goldenrod;
}
.content__background {
  background: url(../img/1595307745_2.jpg) no-repeat 0px 0px / cover;
  outline-offset: -8px;
  outline: #ffdd2d solid 2px;
  height: 276px;
}
.content {
  position: absolute;
  bottom: 16px;
  left: 16px;
  text-align: center;
  background-color: rgba(185, 236, 219, 0.5);
  color: #781e79c4;
  width: min-content;
  outline: #ffdd2d solid 2px;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 100px -39px rgba(0, 0, 0, 0.23) inset;
-moz-box-shadow: 0px 0px 100px -39px rgba(0, 0, 0, 0.23) inset;
box-shadow: 0px 0px 100px -39px rgba(0, 0, 0, 0.23) inset;
}
#btn-close {
  cursor: pointer;
}